<h2>Add New Homework Assignment: </h2>

<form class="" action="/homework_assigments" method="post">
    <label for="subject">Subject: </label>
    <input type="text" name="subject" value="">
    <label for="notes">Notes: </label>
    <input type="text" name="notes" value="">

    <input type="submit" name="" value="Add New Assignment">
</form>