<h1>show page for homework assignment</h1><br>

<% if authorized_to_edit?(@homework_assignment) %>
  <a href="/homework_assignments/<%= @homework_assignment.id %>/edit">Edit</a>
  <br><br>
  <form class="" action="/homework_assignments/<%= @homework_assignment.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete Assignment">
  </form>
<% end %>
<br><br>

<p><%= @homework_assignment.subject %></p>
<p><%= @homework_assignment.notes %></p>
