<h1>show page for homework assignment</h1><br>

<% if @homework_assignment.user == current_user %>
  <a href="/homework_assignments/<%= @homework_assignment.id %>/edit">Edit</a>
  <a href="/delete">Delete</a>
<% end %>
<br><br>

<p><%= @homework_assignment.subject %></p>
<p><%= @homework_assignment.notes %></p>
